.we-doing {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  background-color: white;
  padding-top: 0;
  padding-bottom: 94px;
}
.advantages-img .we-doing__items {
  flex-basis: calc(100% / 3);
  margin-top: 50px;
}

.sect-header {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.we-doing__items {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages__thumb {
  position: relative;
  height: 294px;
}
.adv-img__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);
}
